/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';
/* Custom styling */
@import './content.css';

/*

  MAIN LAYOUT STYLING

 */

:root {
  font-family: 'Merriweather', sans-serif;
}

html {
  @apply bg-gray-900 h-full w-full;
}

body {
  @apply h-screen w-full flex justify-center;
}

#__nuxt,
#__layout {
  @apply h-full;
}

#main {
  max-width: 100%;

  @screen md {
    max-width: 800px;
  }
}
