/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}
